.wrapper {
  width: 100vw;
}

.wrapper > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

/* .list_item {
  width: 100% / 3;
} */

a {
  color: black;
  text-decoration: none;
}

div > h1 {
  font-size: 1em;
}

.imageWrapper {
  max-width: 100%;
  height: auto;
  display: flex; /* Flexbox 추가 */
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 가운데 정렬 */
}

.imageWrapper img {
  max-width: 100%;
  height: auto;
}

/* 왜 import한 이미지만 비율이 엉망인지 */